body {
  font: 71%/1.5 Verdana, Sans-Serif;
  background: #eee;
}

keyboard {
  margin: 100px auto;
}

#write {
  margin: 0 0 5px;
  padding: 5px;
  width: 671px;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
